/* ====== Tags ====== */

body, button, textarea
{
    font-family: sans-serif !important;
    font-size: 18px !important;
}

body
{
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
       -moz-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: 85%;
    min-height: 200px;
}

h1, h2, h3, h4
{
    margin: 0 0 0 0;
}

hr
{
    width: 100%;
}

/* ====== Classes ====== */

.flexColumn
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.flexRow
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}

.flexWrap
{
    display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.flexNoWrap
{
    display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: nowrap; /* Safari 6.1+ */
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
}

.flexCenter
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.errorMessage
{
    color: red;
    background-color: black;
    display: none;
}

/* https://stackoverflow.com/questions/271067/how-can-i-make-a-textarea-100-width-without-overflowing-when-padding-is-present */
.boxSizingBorder
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* ====== IDs ====== */

/* --- Serial Monitor --- */

#serialMonitor
{
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
       -moz-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
       -moz-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    -webkit-flex-basis: 40px;
        -ms-flex-preferred-size: 40px;
            flex-basis: 40px;

    width: 100%;
    min-width: 200px;
    height: 100%;
    min-height: 200px;
}

#serialMonitorControls
{
    width: 100%;
    min-width: 200px;
}

#serialInput
{
    width: 100%;
    height: 100%;

}

#serialSendArea
{
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
       -moz-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    -webkit-flex-basis: 40px;
        -ms-flex-preferred-size: 40px;
            flex-basis: 40px;
    width: 100%;
}

#serialOutput
{
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
       -moz-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    min-width: 100px;
    width: 0;
}

/* --- Serial Plotter --- */

#serialPlotter
{
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
       -moz-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
       -moz-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    -webkit-flex-basis: 40px;
        -ms-flex-preferred-size: 40px;
            flex-basis: 40px;

    width: 100%;
    min-width: 200px;
    height: 100%;
    min-height: 200px;
}

#serialPlotterControls
{
    width: 100%;
    min-width: 200px;
}

#serialPlotterGraph
{
    width: 85%;
    min-width: 200px;
    height: 100%;
    overflow: hidden;
}

#serialPlotterContainer
{
    width: 100% !important;
    min-width: 200px;
    height: 100% !important;
}

#serialPlotterCanvas
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;

    border: 1px solid black;

    width: 100%;
    height: 100%;
}

/* --- Serial Logger --- */

#serialLogger
{
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
       -moz-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
       -moz-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    -webkit-flex-basis: 40px;
        -ms-flex-preferred-size: 40px;
            flex-basis: 40px;

    width: 100%;
    min-width: 200px;
    height: auto;
}

#serialLoggerNotRunning
{
    width: 100%;
    height: auto;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

#serialLoggerFileName
{
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
       -moz-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    min-width: 100px;
    width: 0;
}
